<div class="atllab" id="atllab">
  <div id="content">
    <div class="row">
      <div class="col-7">
        <p>
          BMOS Technologies privated limited is established in the year 2019
          with the motive to integrate innovative wireless technologies for all
          types of government and private organizations. In this year, we have a
          rapid expansion in many industrial verticals with our Robust, Secure
          and reliable wireless solutions. We have a sophisticated team which
          work on different innovative technologies. We are into wireless
          network communications, Iot Development, PCB and Embedded systems,
          Information Technology Infrastructure management.
        </p>
        <button class="btn btn-sm btn-success">
          Know more
        </button>
      </div>
      <div class="col-5">
        <button class="btn btn-sm btn-success">Email us</button>
        <hr>
        <button class="btn btn-sm btn-warning">Email us</button>
        <hr>
        <button class="btn btn-sm btn-primary">Email us</button>
        <hr>
        <button class="btn btn-sm btn-danger">Email us</button>
      </div>
    </div>
  </div>
</div>
