<div class="atllab" id="atllab">
    <div id="content">
      ATL is an approach of Central government of India to create an environment
      of scientific temperament, innovation, creativity amongst Indian Students.
      It is a step towards a new India. Since the last few decades, our
      education system has seen a paradigm shift. Today, with this approach of
      inculcating Hands on Methodology in the current education scenario we have
      resolved the need of the hour. ATL lab would teach students essential
      21st-century skills which will help them in developing their professional
      and personal skills. Skilled India is the need of the hour and each step
      taken this dream should be welcomed and we should work towards it together
      for a better India.
      <button class="btn btn-sm btn-success">
        Know more
      </button>
    </div>
</div>
