.atllab{
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 6px 6px 17px gray;
}

#content{
    font-size: 25px;
    font-weight: bolder;
    background-image: url(../../assets/bmos1.jpg);
    color: black;
    padding: 10px;
    border-radius: 10px;
}