<div id="welcome">
  Welcome to <span class="badge badge-success">BMOS Technologies</span> PVt.
  Ltd.
</div>

<div id="aboutus" class="text-center">
  <h2 class="badge badge-warning">What we do?</h2>
  <hr />
  <h4 id="contentaboutus">
    We are moving ahead with the motive to integrate innovative wireless
    technologies for all types of government and private organizations. In the
    past years, we have a rapid expansion in many industrial verticals with our
    Robust, Secure and reliable wireless solutions.
  </h4>
</div>

<div id="mission" class="text-center">
  <h2 class="badge badge-primary">Our Mission</h2>
  <hr />
  <div id="contentmission">
    <h4>
      We aim at providing training & development activities for students and at
      enterprise level.
    </h4>
    <h4>
      With specialization in various fields like Robotics, PCB Design, Embedded
      systems, We guarantee a seamless service to our customers.Initiated by a
      crew of highly dexterous and adept professionals with an unique objective
      to bridge the gap between the field of education and embedded and
      robotics. We believe in continuous achievements, Research and development.
    </h4>
  </div>
</div>
