#welcome{
    font-size: 90px;
    font-family: "Pacifico", cursive;
    color: black;
    height: auto;
    width: 80%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 12px;
    box-shadow: 15px 15px 15px 15px rgb(231, 231, 231);
    background-image: url(../../assets/bmos.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}

#aboutus{
    margin-top: 10px;
    font-size: 80px;
    font-weight: bolder;
}

.badge-success{
    background-color: black;
    border-radius: 2px;
    box-shadow: 3px 3px 13px white;
}

#mission{
    margin-top: 10px;
    font-size: 80px;
    font-weight: bolder;
}

#contentmission{
    border-radius: 10px;
    box-shadow: 9px 9px 18px gray;
    font-family: "Audiowide", cursive;
}

#contentaboutus{
    font-family: "Audiowide", cursive;
    border-radius: 10px;
    box-shadow: 9px 9px 18px gray;
}